body{
    background-color: gold
}
h1{
    color: maroon
}
p{
    color: maroon ;
}
h2{
    color: maroon
}
h3{
    color: maroon
}
ul{
    color: maroon;
}
ol{
    color: maroon;
}