.titlesection{
    background-color: dodgerblue; height: 100px; display: flex; padding-right: 15px; padding-left: 15px; align-items: center;
}
.title{
   color: gold;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  font-size: 45px; font-weight: bolder; text-align: center; margin: 0 auto;
}
section{
    background-image: url("desert-days-chromebook-wallpaper.jpg"); width: max-content; height: 1000px;
}